@import 'tailwindcss';

:root {
  --base-white: #ffffff;
  --base-black-nav: #25272a;
  --base-black-header: #17181a;
  --base-black-header-bold: #050505;
  --category-blog: #33404a;
  --input-placeholder: #acb3c7;
  --blue-dark: #0f4f9e;
  --blue-light: #e2f0fe;
  --blue-note: #667f93;
  --green-primary: #1ad598;
  --green-secondary: #d1f7ea;
  --green-light: #b3c5d4;
  --background: #ffffff;
}
